html{
    height: 100%;
}

body {
    background-color: rgb(225, 235, 240);
    padding-top: 3rem;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.min_container {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    background-color: rgba(108,108,108,0.9);
    margin-top: 25px;		
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    }
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sidebar {
    position: fixed;
}

#navbar-title {
    background-color: rgba(108, 108, 108, 0.9);
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

@media (max-height: 812px) {
    #sidebarlogo {
        display: none;
    }
}
