body {
    background-color: rgb(225, 235, 240);
    padding-top: 3rem;
    }
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    }
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.min_container{
    min-height: 570px;
}

#navbar-title {
    background-color: rgba(108, 108, 108, 0.5);
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
footer {
    margin-top: 50px;
}