
.idea/
/site_config.php
site_config.php
 # Others
composer.phar
composer.json
composer.lock
vendor/

Tests/TestFoo.php

phpinfo.php
phpunit.phar
.phpunit.result.cache
Tests/.phpunit.result.cache
Tests/phpunit.phar
Tests/.scannerwork
# Sonar Scanner working directories
.sonar/
.scannerwork/
